@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fade-in-delay {
	opacity: 0;
	animation: fadeIn 1s forwards;
}


.body-color {
	@apply bg-gray-50;
}

.main-page-text-group {
	@apply justify-center text-center;
}

.main-page-title {
	@apply font-mono text-3xl;
}

.main-page-link {
	@apply font-mono text-2xl text-link;
}

.index-bg {
	@apply
		/* bg-gradient-to-r from-indigo-500 to-gray-700 */
		/* bg-gray-700 */
		fixed
		h-full
		w-full;
}

.panel {
	@apply
		w-72
		h-72
		relative
		grid
		font-mono
		bg-center
		text-3xl
		shadow-xl
		/* bg-gradient-to-r from-indigo-500 */
		content-center
		justify-center
		bg-cover
		hover:scale-110
		transition
		duration-100
		ease-in-out;
}

.full-center {
	@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.panel-bg {
	@apply
		absolute
		w-full
		h-full
		backdrop-blur-md
		hover:backdrop-blur-sm
		transition
		duration-100
		ease-in-out;
}

.article-title {
	@apply font-mono text-2xl text-link ;
}

.article-secondary-title {
	@apply font-mono text-xl text-gray-800;
}

.article-title-no-link {
	@apply font-mono text-2xl;
}

.article-subtitle {
	@apply font-mono text-xl text-gray-800;
}

.article-subtitle-link {
	@apply font-mono text-lg text-link;
}

.error-title {
	@apply font-mono text-4xl m-5 text-gray-800;
}

.error-title-link {
	@apply font-mono text-3xl m-5 text-link underline;
}

.article-content-text {
	@apply font-mono text-xl text-gray-800;
}


.article-paragraph-title {
	@apply font-mono text-2xl text-justify mt-5 mb-2 text-gray-800;
}

.prose h2 {
	@apply font-normal font-mono text-2xl text-justify mt-5 mb-2 text-gray-800;
}


.article-paragraph {
	@apply article-content-text text-justify mb-5 mt-2 text-gray-800;
}

.prose p {
	@apply article-content-text text-justify mb-5 mt-2 text-gray-800;
}

.prose pre {
	@apply text-left
}

.prose img {
	@apply glsl-grids-img
}


.article-paragraph-note {
	@apply
		font-mono
		text-xl
		text-justify
		mb-5
		mt-2
		mx-5
		text-gray-800
		bg-blue-200
		p-5
		rounded-lg;
}

.article-paragraph-code {
	@apply
		p-5
		rounded-lg;
}

.article-inline-link {
	@apply article-content-text text-link;
}

.article-math-block {
	@apply article-content-text mb-5 mt-2 text-gray-800;
}

.math-inline {
	/* @apply text-green-100 bg-slate-500 rounded-sm p-1; */
	/* @apply text-neutral-500; */
	@apply text-cyan-800;
}

.math-block {
	/* @apply text-green-100 bg-slate-500 rounded-sm p-1; */
	/* @apply text-neutral-500; */
	@apply text-cyan-800;
}

.article-container {
	@apply container text-center p-10 md:m-10 md:p-0 md:mx-auto w-full md:w-10/12 max-w-4xl;
}

.article-sub-container {
	@apply my-10 mx-auto justify-center items-center;
}

.glsl-grids-img {
	@apply w-64 mx-auto;
}

.output-block{
	@apply article-content-text overflow-auto w-11/12 mx-auto border my-5 p-2;
}
